
body {
	color: black;
}

body header {
	background: #F0F0F0;
	border:1px solid #000000;
	color: green;
	text-align: center;
}


img [id=|picture] {
	alignment: center;
	border-radius: 10px;

	/* Have the image resize automatically as the size of the browser window changes. */
	max-width: 100%;
	height: auto;

	/* Center the image. */
	display: block;
	margin: auto;
	width: 25%;
}


img [id=|diagram] {
	alignment: center;
	border-radius: 10px;

	/* Have the image resize automatically as the size of the browser window changes. */
	max-width: 50%;
	height: auto;

	/* Center the image. */
	display: block;
	margin: auto;
	width: 50%;
}